/* Empty. Add your own CSS if you like */
.category i {
    width: 100%;
    height: 50px;
    text-align: center;
    display: block;
}

.category a {
    text-align: center;
    color: black;
    display: block;
}

/*rewrite css*/

.header-bg-color{
    background-color: #47ca69;
    color:white;
}

.header-bg-color h1{
    color:white;
}